*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Pangolin', cursive;
}

/*creating css colour variables which contain colour codes*/
/*useful for when switching between light mode and dark mode*/
/*learned about css variables from w3schools https://www.w3schools.com/css/css3_variables.asp*/
:root {
  --navBar: #fc4f1b;
  --white: white;
  --offwhite: #f2f2f2;
  --red: #cb3b24;
  --offblack: #222831;
  --grey: #393e46;
  --iconHover: #e7e7e7;
}



.hangMan {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 1000px;
    height: 564px;
    background-color: aqua;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.homeContainer {
    background: url(visualRecources/homeScreen2.jpg);
    background-size: cover;
}

.containerItems {
    width: 95%;
    border: 2px solid red;
    margin-top: 20px;
}

.icons {
    height: 50px;
    border: 2px solid rgb(23, 78, 12);
    display: flex;
}

.icon {
    background-color: transparent;
    border: none;
    display: flex;
    width: 60px;
}

.icon img {
    height: 30px;
    float: inline-start;
}

.icon:hover {
    opacity: 50%;
}

#play {
    margin-top: 250px;
    margin-right: 200px;
    float: right;
    font-size: 64px;
    background: transparent;
    border: none;
    color: rgb(230, 230, 230);
}

#play:after {
    content: '';
    height: 10px;
    width: 0%;
    background: url(visualRecources/underline.png);
    background-size: cover;
    border-radius: 10px;
    display: block;
    transition: .2s ease-in-out;
}

#play:hover::after {
    content:"";
    height: 10px;
    width: 100%;
    background: url(visualRecources/underline.png);
    background-size: cover;
    border-radius: 10px;
    display: block;
}

.playContainer {
    background: url(visualRecources/playPage1.jpg);
    background-size: cover;
}

#word {
    color: #e7e7e7;
}